body {
    background-color: #FFF5CC;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;

/* navbar  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffcc00;
    padding: 15px 20px;
    color: black;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* header image */
.header {
    width: 100%;
    height: 40vh;
    overflow: hidden;
    position: relative;
}

.header-image {
    width: 100%;
    height: 120%;
    object-fit: cover;
    position: absolute;
    top: -20%;
}

/* Bus section */
.bus-section {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.bus-box {
    width: 30%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.bus-box:hover {
    transform: translateY(-10px);
}

.bus-box h2 {
    font-size: 1.5em;
    color: #ffcc00;
}

.bus-box p {
    font-size: 1.1em;
    color: #333333;
}

.bus-box .description {
    font-size: 1em;
    color: #555555;
    margin: 10px 0;
}

.reserve-btn {
    background-color: #ffcc00;
    color: #333333;
    padding: 10px 20px;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.reserve-btn:hover {
    background-color: #e6b800;
}

/* Footer */
footer {
    background-color: #333333;
    color: #ffffff;
    padding: 20px 10px ;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-info, .social-media, .quick-links, .copyright {
    margin: 20px;
}

.contact-info p {
    font-size: 1.1em;
    margin: 5px;
}

.social-media a {
    margin: 12px ;
    color: #ffffff;
    font-size: 1.5em;
}

.social-media a:hover {
    color: #ffcc00;
}

.social-media img {
    width: 30px;
    height: 30px;
}

.quick-links ul {
    list-style: none;
    padding: 0;
}

.quick-links li {
    margin: 5px 0;
}

.quick-links a {
    color: #ffffff;
    text-decoration: none;
}

.quick-links a:hover {
    text-decoration: underline;
}

.copyright p {
    font-size: 0.9em;
    margin-top: 15px;
}

}