body {
    background-color: #FFF5CC;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;

/* navbar  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffcc00;
    padding: 15px 20px;
    color: black;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* header image */
.header {
    width: 100%;
    height: 40vh;
    overflow: hidden;
    position: relative;
}

.header-image {
    width: 100%;
    height: 120%;
    object-fit: cover;
    position: absolute;
    top: -20%;
}
}