body {
    margin: 0;
    height: 100vh;
    background: url(../img/bg.png) no-repeat center center/cover;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Popins', sans-serif;
}

header {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

.content-box {
    width: 60%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 15px;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 5px solid black;
}

button {
    padding: 0.75rem 1rem;
    background-color: black;
    color: #ffd700;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
}

button:hover {
    background-color: #333;
}

footer {
    margin-top: 2rem;
    text-align: center;
    font-size: 0.9rem;
    color: #000;
}