body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #f5f5f5, #e6e6e6);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    animation: fadeIn 1.5s ease-in-out;
}

/* FADE-IN ANIMATION */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header {
    position: relative;
    z-index: 1;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 15px 20px;
    position: relative;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    color: #e6b800;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #e6b800;
    transform: translateY(-2px);
}

/* LANDING CONTAINER */
.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1; /* Ensures this section takes up available space, pushing the footer down */
}

h1 {
    font-size: 2.5em;
    color: #333;
}

p {
    font-size: 1.2em;
    color: #666;
}

.btn {
    display: inline-block;
    background-color: #ff4500;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.btn:hover {
    background-color: #ff5733;
}

/* FOOTER */
footer {
    background-color: #1a1a1a;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    margin-top: auto; /* Pushes footer to the bottom if the content is not enough */
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.contact-info, .social-media, .quick-links, .copyright {
    margin: 10px;
}

.contact-info p {
    font-size: 1em;
    margin: 3px 0;
}

.social-media a {
    margin: 8px;
    color: white;
    font-size: 1.3em;
    transition: color 0.3s ease;
    text-decoration: none;
}

.social-media a:hover {
    color: #cc9f00;
}

.social-media img {
    width: 25px;
    height: 25px;
}

.quick-links ul {
    list-style: none;
    padding: 0;
}

.quick-links li {
    margin: 3px 0;
}

.quick-links a {
    color: #f1f1f1;
    text-decoration: none;
    transition: color 0.3s ease;
}

.quick-links a:hover {
    color: #cc9f00;
}

.copyright p {
    font-size: 0.8em;
    margin-top: 10px;
}
