* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #171717;
    color: white;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
    padding: 0;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 15px 20px;
    position: relative;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    color: #e6b800;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #e6b800;
    transform: translateY(-2px);
}

.container {
    background-color: #e6b800;
    width: 80%;
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin: 1rem 0 0.5rem;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #333;
    border-radius: 5px;
}

/* FOOTER */
footer {
    background-color: #1a1a1a;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.contact-info, .social-media, .quick-links, .copyright {
    margin: 10px;
}

.contact-info p {
    font-size: 1em;
    margin: 3px 0;
}

.social-media a {
    margin: 8px;
    color: white;
    font-size: 1.3em;
    transition: color 0.3s ease;
    text-decoration: none;
}

.social-media a:hover {
    color: #cc9f00;
}

.social-media img {
    width: 25px;
    height: 25px;
}

.quick-links ul {
    list-style: none;
    padding: 0;
}

.quick-links li {
    margin: 3px 0;
}

.quick-links a {
    color: #f1f1f1;
    text-decoration: none;
    transition: color 0.3s ease;
}

.quick-links a:hover {
    color: #cc9f00;
}

.copyright p {
    font-size: 0.8em;
    margin-top: 10px;
}
